*{
    margin: 0;
    padding: 0;
}
body{
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: black solid 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top:0%;
    background-color: white;
    z-index:1;
}
.navbar__heading{
    color:#8C3CBB;
}
.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px   ;
    align-items: center;
}
.navbar__s2 input{
    border: none;
    width: 100%;
    background-color: transparent;
}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
    display: flex;
    gap: 10px;
    font-size: 20px;
    align-items: center;
}
.mylearn{
    position:relative;
    cursor: pointer;
}
.mylearn2{
    position: absolute;
    background-color: #f8f8f8;
    right: 0%;
    padding: 10px;
    width: 150px;
    border:solid 1px black;
    top:150%;
    display: none;
}
.mylearn:hover .mylearn2{
    display: block;
}
.navbar22{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: solid black 1px;
    
}
.navbar22 p{
    padding: 10px;
    font-size: 20px;
    color:white;
    background-color:#8C3CBB;
    margin:10px;
    border-radius: 30px;
}
.navbar22 p:hover{
    cursor:pointer;
    color:rgb(52, 51, 51);
    background-color:#bf79e8;
}
.frnt img{
    width:100%;
    position: relative;
}
.hh{
    position: absolute;
    top: 200px;
    padding: 20px;  
    background-color: gray;
    margin: 10px;
    left:200px;
    
}

.rmdtitle{
    padding: 10px;
    
    
}
.card img{
    display: flex;
    width: 250px;
    height: 300px;
   

}
.rmd__container{
   display: flex;
   flex-wrap: wrap;
   padding: 10px;
   justify-content: space-between;

  
}
.card{
    background-color:#BF79E8;
    border: black solid 1px;
    border-radius: 5px ;
    text-align: center;
    
}
.card:hover{
    background-color:#cea3e8;
   cursor: pointer;
    border-radius: none;
}
.topics{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
   
}
.topics p{
     border: black solid 1px;
     flex-grow: 1;
     flex-basis: 20%;
     padding: 10px;
     width: 200px;
     margin: 10px;
     
}
.di{
    padding:10px;
}
.topics p:hover{
    background-color: rgb(173, 170, 170);
    color: black;
    cursor: pointer;
}
.rmd__container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    
}
.cardd img{
    height: 400px;
    width: 250px;
    

}
.cardd{
    background-color:#BF79E8;
    border: black solid 1px;
    border-radius: 5px ;
    text-align: center;
    margin-top: 10px;
}
.cardd:hover{
    background-color:#cea3e8;
    cursor: pointer;
    border-radius: none;
}
.rmdtitle2{
    padding: 10px;
    
}
.footer{
    background-color: black;
    color: white;
    display: flex;
    padding: 10px;
    gap: 20%;
    
}
.copy{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding: 10px;
    align-items: center;
    
}
.footer2 p{
    margin: 20px;
}
.footer1 p{
    margin: 20px;
}
.copy p{
    margin: 20px;
    align-items: center;
    padding: 10px;
}
.img__gallery {
    display: flex;
    padding: 10px;
    
}

.img__gallery p {
    justify-content: center;
}

.header {
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    
}

.hey {
    padding: 10px;
    margin-top: 10px;
    padding-left: 500px;
    border-bottom: 4px solid #5459de;
   transform: translateX(50%)
}

.hey p {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    transform: translateX(-230%);
    font-size: 20px;
    
}
.hi {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hi img {
    height: 250px;
    width: 250px;
}

.hello {
    border: skyblue solid 4px;
    background-color: bisque;
    margin: 100px;
    margin-bottom: 160px;
    
}

.imgg1 {
    border: solid black 2px;
    margin: 10px;
}